<style>
img {
    width: 100%;
    
}
figure img{
     height:100%;
     width:100%;
}
figure {
    margin-left: 15px;
    top:300px;
    padding: 0;
    height: 400px;
    width:420px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid #fff;
    
}

figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}

figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 250px;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}

figcaption h3 {
    font-family: 'Open sans';
    font-weight: 400;
    color: #f3b204;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    righ: 100%;
    margin-top: 37px;
    font-size: 40px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

figcaption p {
    font-family: 'Open sans';
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    left: 100%;
    font-size: 20px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

figure:hover h3,figure:hover p {
    left: 0;
}

figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}

figcaption a:hover {
    color: #4f5856;
    background: #fff;
}


#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light1{
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 1250px;
    height: 400px;
    margin-left: -450px;
    margin-top: -50px;                 
    padding: 10px;
    
    
    z-index:1002;
    overflow:visible;
}

#light2{
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 1250px;
    height: 400px;
    margin-left: -450px;
    margin-top: -50px;                 
    padding: 10px;
    
    
    z-index:1002;
    overflow:visible;
}
#light3{
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 1250px;
    height: 400px;
    margin-left: -450px;
    margin-top: -50px;                 
    padding: 10px;
    
    
    z-index:1002;
    overflow:visible;
}


</style> 
	
